[gcode_macro SAVE_PENDANT_LOCATION]
gcode:
    # Extract parameters passed from the Teach Pendant UI
    {% set macro_name = params.MACRO_NAME|default("TEST")|string %}
    {% set location_name = params.LOCATION_NAME|default("pt1")|string %}
    {% set mode = params.MODE|default("ABSOLUTE")|string %}
    {% set x = params.X|default(0.0)|float %}
    {% set y = params.Y|default(0.0)|float %}
    {% set z = params.Z|default(0.0)|float %}

    # Output feedback directly to the Mainsail console
    M118 Saving Pendant Point -> Macro: {macro_name} | Point: {location_name} | X:{x} Y:{y} Z:{z}


# Teach Pendant Saved Points
